transformers==4.37.2
torch==2.1.2
torchvision==0.16.2 
torchaudio==2.1.2
einops
tensorboard
accelerate==0.34.2
numpy<=1.26.4
deepspeed==0.15.1
peft
timm
ipykernel

# for docvqa
sentencepiece
ninja
flash-attn